/* 代码块 */
.highlight {
    background: #21252b;
    border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(32, 18, 43, 0.2);
}

.markdown-body .highlight pre, .markdown-body pre {
    padding: 0.6rem 0.8rem;
}

.collapse .gutter {
    user-select: none;
}

/* Mac 风格的代码块 */
.icon-code::before {
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -12px;
    position: absolute;
    width: 12px;
}